@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&family=Poppins:wght@500&display=swap');


/*CORPO*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    text-align: center;
}

.login-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
    width: 280px;
    height: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}

.login-container input {
    font-family: 'Poppins', sans-serif;
    width: 519px;
    height: 50px;
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #d6d6d6;
    font-size: 15px;
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
}


/*CRIAR NOVA CONTA*/
.create-account-button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 1px;
    margin: 30px;
    width: 300px;
    height: 51px;
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #000;
}

.create-account-button a:link {
    text-decoration: none;
    color:#000;
}

.create-account-button a:visited {
    color:#000;
}

/*TÍTULO E CAMPOS DE PREENCHIMENTO*/
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    right: 230px;
}

.form-group input {
    width: 500px;
}

/*ESQUECI A SENHA*/
.forgot-password {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    position: relative;
    left: 165px;
    top: -10px;
    text-decoration: none;
}

.forgot-password a:link {
    text-decoration: none;
    color:#000;
}

.forgot-password a:visited {
    color:#000;
}

/*BOTÃO ENTRAR*/
.login-container button {
    width: 40%;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login-container button a:link {
    text-decoration: none;
    color: #ffffff;
}

.login-container button a:visited {
    color: #ffffff;
}
